
@import '~antd/dist/antd.css';


.menu-style {

  height: 100vh;
  width: 200px;
  position: fixed;
  }
.App {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

.form-control {
  margin-bottom: 20px;
  width: 100%;

}

.error {
  color: red;
}
.form{
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 100%;
}

.LogContainer{
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;

}
.loginRoot{
  display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.imgcontiner{
  display: flex;
    justify-content: center;
    align-items: center;
}
.form-btn{
  padding: 5px;
  width: 60%;
  border-radius: 5px;
  background-color: red;
  color: #ffff;
  border: 0;
  margin-top: 10%;
  /* border: solid 1px #8b8b8b; */
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.Text{
  display: flex;
  justify-content: center;
}